.box-horizontal {
    .box();
}

.box-vertical {
    .box();
    .box-orient(vertical);
}

.box-align-center {
    .box-align(center);
}

.box-align-stretch {
    .box-align(center);
}

.box-align-start {
    .box-align(start);
}

.box-align-end {
    .box-align(end);
}

.box-pack-justify {
    .box-pack(justify);
}

.box-pack-start {
    .box-pack(start);
}

.box-pack-center {
    .box-pack(center);
}

.box-pack-end {
    .box-pack(end);
}

.box-flex-1 {
    .box-flex(1);
}

/*Required for firefox*/
.x-stretch {
    width: 100%;
}

.y-stretch {
    height: 100%;
}

.with-horizontal-double-spacing > * {
   margin-right: 20px;

   &:last-of-type {
       margin-right: 0px;
   }
}

.with-horizontal-spacing > * {
    margin-right: 10px;

    /*&:last-of-type {//todo test
        margin-right: 0px;
    }*/
}

.with-vertical-spacing > * {
    margin-bottom: 6px;

    &:last-of-type {
        margin-bottom: 0px;
    }
}

.with-vertical-double-spacing > * {
    margin-bottom: 12px;

    &:last-of-type {
        margin-bottom: 0px;
    }
}