/*
    Mixin(s) for FlexBox (http://www.w3.org/TR/css3-flexbox)
    Playground: http://flexiejs.com/playground
    In order to support IE & Opera use https://github.com/doctyper/flexie
*/

.box() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
}

// @orient - horizontal (default), vertical, inline-axis, block-axis
.box-orient(@orient) {
    -webkit-box-orient: @orient;
    -moz-box-orient: @orient;
    -ms-box-orient: @orient;
    box-orient: @orient;
}

// vertical alignment
// @align - stretch (default), start, center, end
.box-align(@align) {
    -webkit-box-align: @align;
    -moz-box-align: @align;
    -ms-box-align: @align;
    box-align: @align;
}

// horizontal alignment
// @pack - start (default), end, center, justify
.box-pack(@pack) {
    -webkit-box-pack: @pack;
    -moz-box-pack: @pack;
    -ms-box-pack: @pack;
    box-pack: @pack;
}

// stretching
// @flex - 0 (default), 1, ...
.box-flex(@flex) {
    -webkit-box-flex: @flex;
    -moz-box-flex: @flex;
    -ms-box-flex: @flex;
    box-flex: @flex;
}

// @direction - normal (default), reverse
.box-direction(@direction) {
    -webkit-box-direction: @direction;
    -moz-box-direction: @direction;
    -ms-box-direction: @direction;
    box-direction: @direction;
}

// @group - 1 (default), ...
.box-ordinal-group(@group) {
    -webkit-box-ordinal-group: @group;
    -moz-box-ordinal-group: @group;
    -ms-box-ordinal-group: @group;
    box-ordinal-group: @group;
}

// BACKGROUNDS
// --------------------------------------------------

// Add background image
.backgroundImage(@url, @repeat, @position) {
  background-image: url("../img/@{url}");
  background-repeat: @repeat;
  background-position: @position;
}