/*
@btnSuccessBackground:              #9DE42B;
@btnSuccessBackgroundHighlight:     #89D017;

@gridColumns:             12;
*/

/*
@iconSpritePath:          "../thirdparty/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../thirdparty/bootstrap/img/glyphicons-halflings-white.png";
*/
