body {
    background-color: #FFFFFF;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/* LOGIN HTML */
.page {
    font-family: 'istok_webregular';
}

.login {
    position:    absolute;
    left:        50%;
    top:         50%;
    width:       540px;
    height:      260px;
    margin-left: -270px;
    margin-top:  -130px;
}

.login-logo {
    width: 270px;
    height: 260px;
    float: left;
    background: url("../img/logo_mobclix.png") no-repeat 50% 50%;
}

.bg-color {
    background-color: #2C3242;
}

.login-form {
    text-align: center;
    font-size: 12px;
    width: 270px;
    height: 260px;
    float: right;
}

.login-form > div:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 205px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.error {
    margin-bottom: 0px !important;
}

.login-form > div:first-child > .error > div:first-child {
    text-align: center !important;
    color: #000000;
    font-size: 10px;
    font-weight: normal;
    font-family: 'istok_webbold';
}

.login-form-input > input:first-child {
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-form > div:first-child > * {
    margin-bottom: 10px;
}


.login-form > div:first-child > div:first-child > * {
    margin-bottom: 5px;
}

.login-form > div:first-child > .error + div > input[type=checkbox] {
    position: relative;
    margin-top: 15px;
    top: -9px;
    margin-right: 10px;
}

.login-form > div:first-child > div:first-child {
    text-align: center;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
}

.login-form > div:first-child > div:last-child {
    margin-bottom: 10px;
}

/*.login-form > div:first-child > div:last-child > button:last-child {
    margin-left: 28px;
}*/

.forgot-pass {
    text-align: center;
    width: 270px;
    height: 34px;
    line-height: 34px;
}

.forgot-pass > div:first-child {
    line-height: 34px;
    padding-left: 15px;
    padding-right: 16px;
}

.forgot-pass > div:first-child > span:first-child {
    display: inline-block;
    cursor: pointer;
    color: #00CBE4;
    font-size: 12px;
    font-weight: normal;
    float: left;
}

.forgot-pass > div:first-child > span:first-child:hover {
    color: #00CBE4;
    text-decoration: underline;
}

.forgot-pass > div:first-child > span:first-child:active {
    color: #00CBE4;
    text-decoration: underline;
}

.forgot-pass > div:first-child > button {
    position: relative;
    top: 0px;
    float: right;
}

.new-user-options {
    text-align: center;
    width: 270px;
    height: 55px;
    line-height: 55px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.new-user-options > div:first-child {
    line-height: 55px;
    padding-left: 15px;
    padding-right: 16px;
}

.new-user-options > div:first-child > span:first-child {
    display: inline-block;
    font-weight: normal;
    float: left;
}

.new-user-options > div:first-child > button {
    position: relative;
    top: 10px;
    float: right;
}

.password-form {
    text-align: center;
    font-size: 12px;
    width: 270px;
    height: 260px;
    float: right;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.password-form > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 260px;
}

.reset-form > div:first-child + div > .input-error-message {
    margin-right: 0px;
}

.reset-form > div:first-child + div > .input-error-message > div {
    color: #000000;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    font-family: 'istok_webbold';
}

.reset-form > div:first-child > div:first-child {
    font-size: 16px;
    margin-bottom: 5px;
    color: #606060;
}

.reset-form > div:first-child > div:first-child ~ div {
    font-size: 12px;
    line-height: 14px !important;
    color: #606060;
}

.reset-form > button {
    margin-top: 10px;
}

.reset-complete > div:first-child {
    font-size: 12px;
    line-height: 14px !important;
    color: #606060;
}

.reset-complete > a {
    position: relative;
    top: 40px;
    font-size: 12px;
    font-weight: normal;
}

.activate-text {
    padding-top: 5px;
    margin-bottom: 0px !important;
}

.activate-text div {
    margin-bottom: 0px !important;
    color: #606060;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px !important;
}

.activate-text > div:first-child {
    font-size: 16px;
}

.activate-register {
    text-align: center;
    line-height: 45px;
}

.signup {
    position:    absolute;
    opacity: 0;
    left:        50%;
    top:         -200%;
    width:       540px;
    height:      700px;
    margin-left: -270px;
    margin-top:  -350px;
}

.signup-thankyou {
    position:    absolute;
    opacity: 0;
    left:        50%;
    top:         200%;
    width:       540px;
    height:      220px;
    margin-left: -270px;
    margin-top:  -110px;
}

.signup-title {
    text-indent: 20px;
    width: 540px;
    height: 60px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 61px;
    font-family: 'oswaldlight';
}

.signup-close {
    cursor: pointer;
    position: relative;
    float: right;
    width: 22px;
    height: 22px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

.signup-body {
    width: 500px;
    padding: 20px;
    /*height: 630px;*/
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.signup-body-thankyou {
    color: #606060;
    font-size: 12px;
    text-align: center;
    width: 500px;
    padding: 20px;
    height: 120px;
    vertical-align: middle;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.signup-body-thankyou > div:first-child {
    margin-top: 20px;
    line-height: 15px;
}

.confirm {
    margin-left: 260px;
}

.signup-fields.agree {
    position: relative;
    text-align: center;
    top: 5px;
    width: 500px;
}

.signup-fields {
    width: 540px;
}

.signup-fields > div:first-child + div {
    width: 540px;
}

.signup-fields > div:first-child + div > div:first-child {
    display: inline-block;
}

.signup-fields > div:first-child + div > div:last-child {
    display: inline-block;
}

a {
    cursor: pointer;
    color: #00CBE4;
    font-size: 12px;
    font-weight: normal;
}

a:hover {
    color: #00CBE4;
}

a:active {
    color: #00CBE4;
}

a:visited {
    color: #00CBE4;
}

.large-text {
    width: 500px;
    font-size: 16px;
    font-family: 'oswaldlight';
}

.small-text {
    width: 500px;
    font-size: 12px;
    line-height: 15px !important;
    color: #606060;
}

.large-text, .small-text {
    padding-bottom: 10px;
}

.select-country {
    display: inline-block;
    margin-top: 5px\9;
}

.company {
    position: relative\9;
    top: -13px\9;
}

.input-error-message {
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
}

.input-error-message > div:first-child {
    margin-left: 5px;
    color: #000000;
    font-size: 10px;
    text-align: left;
    font-weight: normal;
    font-family: 'istok_webbold';
}

.input-error-message > input {
    margin-top: 0px;
}

.v-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: -20px;
    width: 540px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #FFFFFF;
}

.copyright {
    font-size: 12px;
    position:    absolute;
    left:        50%;
    top:         100%;
    width: 290px;
    height: 50px;
    margin-left: -145px;
    margin-top:  -50px;
    text-align: center;
    line-height: 55px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}