body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* ADVERTISE HTML */
.header {
    display: inline-block;
    width: 100%;
    height: 100px;
    line-height: 160px;
    background: url("../img/logo_mgage.png") no-repeat 35px 50%;
}

.header-info {
    margin-right: 25px;
    float: right;
}

.indicator {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 29px;
    width: 29px;
    height: 29px;
    background: url("../img/icon_alert.png") no-repeat;
}

.indicator > span {
    position: relative;
    top: -1px;
}

.header-info > button {
    position: relative;
    top: -2px;
}

.search {
    display: inline-block;
    line-height: 50px;
    width: 100%;
    position: relative;
    height: 50px;
}

.search > span:first-child {
    float: left;
    text-indent: 25px;
    font-size: 18px;
}

.search > div:last-child {
    margin-top: 10px;
    margin-right: 25px;
    float: right;
}

.search > div:last-child > input:first-child {
    width: 344px;
}

.creatives {
    display: inline-block;
    line-height: 66px;
    width: 100%;
    position: relative;
    height: 66px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 1px solid #D8DAD9;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.creatives > button {
    margin-left: 80px;
}

.assignments {
    display: inline-block;
    float: right;
    margin-right: 25px;
}

.assignments > * {
    display: inline-block;
}

.assignments .select2-container {
    margin-top: 16px;
}

.assignments > button:nth-child(1) {
    margin-right: 25px;
    margin-bottom: 3px;
}

.assignments > button:nth-child(5) {
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 3px;
}

.group {
    background: url("../img/bg_pattern-1.png") repeat 0px 0px;
    width: 100%;
}

.v-separator {
    height: 10px;
}

.h-separator-outer {
    width: 25px;
}

.h-separator {
    width: 10px;
}

.group > tbody {

}

td {
    padding: 0;
}

.outer {
    background: url("../img/bg_white_small.png") repeat 0px 0px;
    width: 100%;
}

.inner {
    background: url("../img/bg_white_small.png") repeat 0px 0px;
    height: 565px;
}

.group-filters {
    vertical-align: top;
    background-color: #FFFFFF;
    padding: 25px 0px 0px 25px;
}

.group-filters > div {
    width: 230px;
}

.group-filters > div > span {
    font-size: 12pt;
    font-weight: bold;
    color: #8FACB0;
}

.group-filters > div > div > span {
    font-size: 10pt;
    font-weight: bold;
    color: #606060;
    margin-bottom: 10px;
}

.group-filters > div > div > input[type=checkbox] {
    position: relative;
    top: -4px;
    margin-right: 10px;
}

.groups {
    height: 565px;
    background-color: #FFFFFF;
    margin-left: 10px;
    width: 100%;
    vertical-align: top;
    overflow: auto;
}

.sc-thumbnail {
    float: left;
    margin: 20px 0px 15px 35px;
    width: 195px;
    height: 236px;
    border: 1px solid #e4e4e4;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.sc-thumbnail > div:nth-child(1) {
    height: 202px;
    border-bottom: 1px solid #e4e4e4;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(1) {
    height: 142px;
    padding: 10px 0px 0px 10px;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(1) > input {
    float: left;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(1) > div {
    margin-left: 10px;
    float: left;
    top: -8px;
    left: -10px;
    position: relative;
    width: 145px;
    height: 145px;
    background: url("../img/back_template.png") no-repeat 30% 30%;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(1) > div > div {
    width: 128px;
    top: 10px;
    left: 8px;
    position: relative;
    height: 128px;
    background: url("../img/banner_1.png") no-repeat 50% 50%;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(2) {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    color: #606060;
    font-weight: bold;
}

.sc-thumbnail > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    color: #00CBE4;
    font-weight: bold;
}

.sc-thumbnail > div:nth-child(2) {
    height: 34px;
    border-bottom: 1px solid #e4e4e4;
}

.sc-thumbnail > div:nth-child(2) > div:nth-child(1) {
    float: left;
    width: 35px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
}

.sc-thumbnail > div:nth-child(2) > div:nth-child(2) {
    float: left;
    width: 123px;
    height: 34px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    line-height: 30px;
}

.sc-thumbnail > div:nth-child(2) > div:nth-child(2) > button:first-child {
    margin-left: 5px;
}

.sc-thumbnail > div:nth-child(2) > div:nth-child(3) {
    float: left;
    width: 35px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
}

.btn-thumb {
    padding: 0;
    min-width: 26px;
    height: 26px;
}

.sc-pagination .select2-container {
    margin-left: 15px;
    margin-top: 8px;
}
