body {
    background-color: #FFFFFF;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/* LOGIN HTML */
.page {
    font-family: 'istok_webregular';
}

.login {
    position:    absolute;
    left:        50%;
    top:         50%;
    width:       540px;
    height:      260px;
    margin-left: -270px;
    margin-top:  -130px;
}

.login-logo {
    width: 270px;
    height: 260px;
    float: left;
    background: url("../img/logo_visualize.png") no-repeat 50% 50%;
}

.bg-color {
    background-color: #2C3242;
}

.login-form {
    text-align: center;
    font-size: 12px;
    width: 270px;
    height: 260px;
    float: right;
}

.login-form > div:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 260px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.login-form > div:first-child > .error > div:first-child {
    text-align: center !important;
    color: #000000;
    font-size: 10px;
    font-weight: normal;
    font-family: 'istok_webbold';
}

.login-form > div:first-child > div:first-child > input:first-child {
    margin-top: 10px;
}

.login-form > div:first-child > div:first-child > * {
    margin-bottom: 5px;
}

.login-form > div:first-child > .error + div > input[type=checkbox] {
    position: relative;
    margin-top: 15px;
    top: -9px;
    margin-right: 10px;
}

.login-form > div:first-child > div:first-child {
    text-align: center;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
}

.login-form > div:first-child > div:last-child {
    margin-bottom: 10px;
}

#forgotPass {
    position: relative;
    top: 10px;
}

.error {
    margin-bottom: 0px !important;
}

.login-form > div:last-child > * {
    margin-bottom: 5px;
}

.login-form > div:last-child > div:first-child {
    padding-top: 10px;
}

.login-form > div:last-child > div:first-child > span {
    text-align: left;
    font-weight: bold;
}

.login-form > div:last-child > div:first-child > button {
    margin-left: 30px;
}

.login-form > div:last-child > div:last-child > span {
    font-size: 12px;
}

.password-form {
    text-align: center;
    font-size: 12px;
    width: 270px;
    height: 260px;
    float: right;
}

.password-form > div:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    height: 260px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.reset-form > div:first-child + div > .input-error-message > div {
    color: #000000;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    font-family: 'istok_webbold';
}

.reset-form > div:first-child > span:first-child {
    font-size: 16px;
    line-height: 0px !important;
}

.reset-form > button {
    margin-top: 10px;
}

/*.reset-complete > div:first-child {
    padding-top: 100px;
    padding-bottom: 10px;
}

.reset-complete > a {
    position: relative;
    top: 40px;
    font-size: 12px;
    font-weight: normal;
}*/

.large-text {
    font-size: 16px;
    font-family: 'oswaldlight';
}

.small-text {
    font-size: 12px;
    line-height: 12px;
    color: #606060;
}

a {
    cursor: pointer;
    color: #00CBE4;
    font-size: 12px;
    font-weight: normal;
}

a:hover {
    color: #00CBE4;
}

a:active {
    color: #00CBE4;
}

a:visited {
    color: #00CBE4;
}

.input-error-message {
    margin-top: 5px;
}

.input-error-message > span {
    margin-left: 5px;
    color: #000000;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}

.input-error-message > input {
    margin-top: 0px;
}

.v-separator {
    position: relative;
    left: -20px;
    margin-bottom: 5px;
    width: 540px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #FFFFFF;
}

.copyright {
    font-size: 12px;
    position:    absolute;
    left:        50%;
    top:         100%;
    width: 290px;
    height: 50px;
    margin-left: -145px;
    margin-top:  -50px;
    text-align: center;
    line-height: 55px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(222,222,222,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(222,222,222,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(222,222,222,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}