.sc-accordion-group {
  color: #95A9AF;
  font-weight: bold;
  font-size: 16px;
  font-family: 'oswaldlight';

  .sc-accordion-heading {
    margin-bottom: 5px;
    float: left;
    clear: both;

    div {
      #gradient > .vertical(#dfeaec, #d6e1e3);
      cursor: pointer;
      width: 230px;
      height: 66px;
      line-height: 66px;
      padding-left: 30px;
      float: left;

      &:hover {
        #gradient > .vertical(#d2dddf, #d5e0e2);
      }

      &.orange-active {
        #gradient > .vertical(#d6c571, #cebe6c);
        color: #FFFFFF;
      }

      &.blue-active {
        #gradient > .vertical(#02b4dc, #02add4);
        color: #FFFFFF;
      }
    }

    img {
      display: none;
      margin-top: 20px;
    }
  }

  .sc-accordion-body {
    clear: both;

    div {
      margin-bottom: 5px;
      float: left;
      clear: both;

      div {
        #gradient > .vertical(#dfeaec, #d6e1e3);
        float: left;
        cursor: pointer;
        width: 215px;
        height: 42px;
        line-height: 42px;
        padding-left: 30px;
        margin-left: 15px;

        &:hover {
          #gradient > .vertical(#d2dddf, #d5e0e2);
        }

        &.orange-active {
          #gradient > .vertical(#d6c571, #cebe6c);
          color: #FFFFFF;
        }

        &.blue-active {
          #gradient > .vertical(#02b4dc, #02add4);
          color: #FFFFFF;
        }
      }
    }

    img {
      display: none;
      margin-top: 7px;
    }
  }
}