//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  font-family: 'istok_webregular';
  font-weight: normal;
  height: 34px;
  min-width: 110px;
  display: inline-block;
  .ie7-inline-block();
  padding: 4px 14px;
  margin-bottom: 0; // For input.btn
  font-size: 12px;
  line-height: 26px;
  *line-height: 26px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .buttonBackground(#FBFBFB, #F1F1F1, #606060, 0 -1px 0 rgba(106,106,106,.25));
  border: 1px solid #bbbbbb;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken(#bbbbbb, 10%);
  .border-radius(2px);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  .box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));

// Hover state
  &:hover {
    color: #606060;
    .box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.25));
    .buttonBackground(#FCFCFC, #F8F8F8, #606060, 0 -1px 0 rgba(106,106,106,.25));
    background-position: 0 -15px;
  }

// Focus state for keyboard and accessibility
  &:focus {
    .tab-focus();
  }

// Active state
  &.active,
  &:active {
    .buttonBackground(#E6E6E6, #E6E6E6, #6A6A6A, 0 -1px 0 rgba(106,106,106,.25));
    .box-shadow(inset 0 1px 0 rgba(255,255,255,.2));
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    background-color: darken(@white, 10%);
    background-image: none;
    .opacity(45);
    .box-shadow(none);
  }

}

// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 9px 14px;
  font-size: @baseFontSize + 2px;
  line-height: normal;
  .border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}

// Small
.btn-small {
  padding: 3px 9px;
  font-size: @baseFontSize - 2px;
  line-height: @baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: @baseFontSize - 3px;
  line-height: @baseLineHeight - 3px;
}

// Mini with image
.btn-thumb {
  padding: 0;
  min-width: 26px;
  height: 26px;
}

.btn-thumb.rounded {
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
}

// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .box-sizing(border-box);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn {
// reset here as of 2.0.3 due to Recess property order
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
}
.btn-primary {
  .buttonBackground(#02b4dc, #00a0c8, #ffffff);

  // Hover State
  &:hover {
    .buttonBackground(#0ebae0, #11bce3, #ffffff);
  }

// Active State
  &.active,
  &:active {
    .buttonBackground(#1BC6ED, #1BC6ED, #ffffff);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#02b4dc, #00a0c8, #ffffff);
    background-image: none;
    .opacity(45);
    .box-shadow(none);
  }
}
// Warning appears are orange
.btn-warning {
  .buttonBackground(#edcf39, #f5d63b, #ffffff);
  .backgroundImage('icon-test-info.png', no-repeat, 10%);
  text-indent: 10px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  *line-height: 12px;
  .border-radius(8px);
  min-width: 0;

// Hover State
  &:hover {
    .buttonBackground(#ebcc31, #e8c92e, #ffffff);
    .backgroundImage('icon-test-info.png', no-repeat, 10%);
  }

// Active State
  &.active,
  &:active {
    .buttonBackground(#f5d63b, #f5d63c, #ffffff);
    .backgroundImage('icon-test-info.png', no-repeat, 10%);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#edcf39, #f5d63b, #ffffff);
    .backgroundImage('icon-test-info.png', no-repeat, 10%);
    .opacity(45);
    .box-shadow(none);
  }
}
// Live button as green
.btn-live {
  .buttonBackground(#98dd2a, #9de42b, #ffffff);
  .backgroundImage('icon-live.png', no-repeat, 10%);
  text-indent: 5px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  *line-height: 12px;
  .border-radius(8px);
  min-width: 0;

// Hover State
  &:hover {
    .buttonBackground(#93da21, #90d71e, #ffffff);
    .backgroundImage('icon-live.png', no-repeat, 10%);
  }

// Active State
  &.active,
  &:active {
    .buttonBackground(#9de42c, #9de42c, #ffffff);
    .backgroundImage('icon-live.png', no-repeat, 10%);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#98dd2a, #9de42b, #ffffff);
    .backgroundImage('icon-live.png', no-repeat, 10%);
    .opacity(45);
    .box-shadow(none);
  }
}
// Paused button as red
.btn-paused {
  .buttonBackground(#f57f00, #fd8300, #ffffff);
  .backgroundImage('icon-paused.png', no-repeat, 5%);
  text-indent: 5px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  *line-height: 12px;
  .border-radius(8px);
  min-width: 0;

// Hover State
  &:hover {
    .buttonBackground(#f37a00, #f07800, #ffffff);
    .backgroundImage('icon-paused.png', no-repeat, 5%);
  }

// Active State
  &.active,
  &:active {
    .buttonBackground(#fd8300, #fd8301, #ffffff);
    .backgroundImage('icon-paused.png', no-repeat, 5%);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#f57f00, #fd8300, #ffffff);
    .backgroundImage('icon-paused.png', no-repeat, 5%);
    .opacity(45);
    .box-shadow(none);
  }
}
// Danger and error appear as red
.btn-danger {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  .buttonBackground(#9de42b, #89d017, #ffffff);

  // Hover State
  &:hover {
    .buttonBackground(#93da21, #90d71e, #ffffff);
  }

// Active State
  &.active,
  &:active {
    .buttonBackground(#9EE42B, #9EE42B, #ffffff);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#9de42b, #89d017, #ffffff);
    background-image: none;
    .opacity(45);
    .box-shadow(none);
  }
}

// Tick icon
.tick {
  .backgroundImage('icon-tick.png', no-repeat, 90%);

// Hover State
  &:hover {
    .backgroundImage('icon-tick.png', no-repeat, 90%);
  }

// Active State
  &:active {
    .backgroundImage('icon-tick.png', no-repeat, 90%);
  }
}

// Info appears as a neutral blue
.btn-info {
  .buttonBackground(#64cde5, #61cae2, #ffffff);
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  *line-height: 14px;
  min-width: 0;

  // Hover State
  &:hover {
    .buttonBackground(#6ed7ef, #46c3e5, #ffffff);
  }

  // Active State
  &.active,
  &:active {
    .buttonBackground(#6ED8EF, #6ED8EF, #ffffff);
  }

// Disabled state
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
    .buttonBackground(#64cde5, #61cae2, #ffffff);
    background-image: none;
    .opacity(45);
    .box-shadow(none);
  }
}
// Inverse appears as dark gray
.btn-inverse {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

// Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

// IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;

  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  .box-shadow(none);
}
.btn-link {
  font-family: 'istok_webregular';
  font-weight: normal;
  border-color: transparent;
  cursor: pointer;
  color: #00CBE4;
  .border-radius(0);
}
.btn-link:hover {
  color: @linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link.disabled,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:active {
  color: @grayDark;
  cursor: default;
  text-decoration: none;
  .opacity(45);
  .box-shadow(none);
}