//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination {
  float: right;
  height: 40px;
  margin: 0;
  margin-right: 20px;
  margin-top: 8px;
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin-left: 0;
  margin-bottom: 0;
  .border-radius(0px);
  .box-shadow(0 1px 2px rgba(0,0,0,.0));
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  cursor: pointer;
  color: #606060;
  float: left;
  padding: 0 14px;
  line-height: (@baseLineHeight * 2) - 2;
  text-decoration: none;
  background-color: transparent;
  border: 0px solid @paginationBorder;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: transparent;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #606060;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  color: #00CBE4;
  font-weight: bold;
  border-left-width: 0px;
  .border-radius(0px 0 0 0px);
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  color: #00CBE4;
  font-weight: bold;
  .border-radius(0 0px 0px 0);
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
