/* DATE PICKER */
.sc-datepicker {
  font-family: 'istok_webbold' !important;
  font-size: 8pt !important;
  width: 150px !important;
  height: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: url(../../img/icon_date-picker.png) no-repeat 95%;
}

.input-padding {
  padding-left: 10px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 10px !important;
}

/* CSS OVERRIDES JQUERY DATE PICKER PLUG-IN */
.ui-datepicker {
  font-family: 'istok_webbold' !important;
  width: 449px !important;
  height: 280px;
  border: none !important;
  border-radius: 0 !important;
  background: none;
  .box-shadow(0 20px 40px rgba(0,0,0,0.25), inset 0 0 3px #fff);
}

.ui-datepicker-header {
  font-weight: normal !important;
  padding: 0 !important;
  width: 223px !important;
  background: #FFFFFF;
  height: 45px !important;
  border: 0;
  border-radius: 0;
  border-bottom: solid 1px #DFDFDF;
  border-right: solid 1px #FFFFFF;
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 30px;
}

.ui-datepicker-title {
  line-height: 55px !important;
  font-size: 12px !important;
}

.ui-datepicker-prev {
  cursor: pointer !important;
  background: url(../../img/arrow_cal_left.png) no-repeat !important;
  border: none !important;
  left: 25px !important;
  top: 18px !important;
}

.ui-datepicker-prev-hover {
  -webkit-box-shadow:  none !important;
  -moz-box-shadow:  none !important;
  box-shadow:  none !important;
}

.ui-datepicker-prev span {
  display: none !important;
}

.ui-datepicker-next {
  cursor: pointer !important;
  background: url(../../img/arrow_cal_right.png) no-repeat !important;
  border: none !important;
  right: 10px !important;
  top: 18px !important;
}

.ui-datepicker-next-hover {
  -webkit-box-shadow:  none !important;
  -moz-box-shadow:  none !important;
  box-shadow:  none !important;
}

.ui-datepicker-next span {
  display: none !important;
}

.ui-datepicker-group {
  background: #F8F8F8;
  height: 238px !important;
  width: 224px !important;
}

.ui-datepicker-group-first {
  border-right: 1px solid #DFDFDF;
}

.ui-datepicker-month {
  color: #606060;
}

.ui-datepicker-year {
  color: #606060;
}

.ui-datepicker-week-end {
  color: #97AAB1;
}

.ui-datepicker-other-month {
  color: #97AAB1;
}

.ui-datepicker-calendar {
  width: 220px !important;
  height: 190px !important;
  background: #F8F8F8;
  font-size: 10px !important;
}

.ui-datepicker-calendar span {
  color: #97AAB1;
}

.ui-datepicker-calendar a {
  font-weight: normal !important;
  border: none !important;
  color: #606060  !important;
  width: 25px !important;
  height: 25px !important;
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 25px;
  padding: 0 !important;
}

.ui-datepicker th {
  padding: 0 !important;
}

.ui-state-disabled {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
}

.ui-state-hover {
  -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

a.ui-state-highlight {
  background: #FD8300 !important;
  color: #FFFFFF !important;
}

a.ui-state-active {
  background: #00DCF0 !important;
  color: #FFFFFF !important;
}

a.ui-state-range {
  background: #00DCF0 !important;
  color: #FFFFFF !important;
}

.ui-datepicker-buttonpane {
  margin: 0 !important;
  background: #F5F5F5;
  height: 40px !important;
  border: 0;
  border-radius: 0;
  border-top: solid 1px #DFDFDF;
}

.ui-datepicker-buttonpane button {
  margin: .2em .2em .4em !important;
  height: 34px !important;
}

.ui-datepicker-current {
  display: none;
}

.ui-datepicker-close {
  width: 80px !important;
  height: 32px !important;
  border: 1px solid #D2D2D2 !important;
  border-radius: 2px !important;
  color: #FFFFFF !important;
  background: linear-gradient(bottom, rgb(2,180,220) 100%, rgb(0,161,201) 50%) !important;
  background: -o-linear-gradient(bottom, rgb(2,180,220) 100%, rgb(0,161,201) 50%) !important;
  background: -moz-linear-gradient(bottom, rgb(2,180,220) 100%, rgb(0,161,201) 50%) !important;
  background: -webkit-linear-gradient(bottom, rgb(2,180,220) 100%, rgb(0,161,201) 50%) !important;
  background: -ms-linear-gradient(bottom, rgb(2,180,220) 100%, rgb(0,161,201) 50%) !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(2,180,220)),
    color-stop(0.5, rgb(0,161,201))
  ) !important;
}

.ui-datepicker-close:hover {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
  background: linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -o-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -moz-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -webkit-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -ms-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(27,198,237)),
    color-stop(0.5, rgb(8,179,218))
  ) !important;
}

.ui-datepicker-close:active {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
  background: linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -o-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -moz-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -webkit-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -ms-linear-gradient(bottom, rgb(27,198,237) 100%, rgb(8,179,218) 50%) !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(27,198,237)),
    color-stop(0.5, rgb(8,179,218))
  ) !important;
}
