.sc-datagrid {
  font-weight: normal;
  font-size: 14px;
  font-family: 'istok_webregular';

  .sc-datagrid-headings {
    width: 100%;
    float: left;
    height: 50px;
    .box-shadow(0px 2px 1px rgba(0,0,0,0.2));
    #gradient > .vertical(#dde8ea, #d9e4e6);
    padding-left: 20px;
    padding-right: 20px;

    div:first-child > div {
      text-align: left;
      text-indent: 25px;
    }

    /*div:nth-child(2) > div {
      text-align: left;
      text-indent: 25px;
    }*/
  }

  .sc-datagrid-heading {
    float: left;
    color: #44C7E3;
    vertical-align: middle;
    text-align: center;
    width: 140px;
    height: 50px;

    div {
      &.sorting {
        cursor: pointer;
        .backgroundImage('arrow-blue-down.png', no-repeat, 10%);
      }

      &.bold {
        font-weight: bold;
      }
    }
  }

  .sc-datagrid-table {
    background-color: #FFFFFF;
  }

  .sc-datagrid-row {
    width: 100%;
    height: 50px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #E5E5E5;
    .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0));

    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;

    -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
    -moz-transition: -moz-box-shadow 0.5s ease-in-out;
    -ms-transition: -ms-box-shadow 0.5s ease-in-out;
    -o-transition: -o-box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;

    &.hover {
      #gradient > .vertical(#ffffff, #f8f8f8);
      .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
      z-index: 100;
    }

    div:first-child > div {
      text-align: left;
      text-indent: 25px;
    }

    &.clicable-row {
      cursor: pointer;
    }

    &.disable-row {
      background-color: #f1f1f1;
      opacity: 0.5;
    }
  }

  .sc-datagrid-cell {
    float: left;
    vertical-align: middle;
    text-align: center;

    div {
      width: 140px;
      height: 50px;
      line-height: 50px;

      &.row-toggle {
        cursor: pointer;
        .backgroundImage('arrow-greydown_right.png', no-repeat, 10%);
      }
    }
  }

}