/*Oswald*/

@font-face {
  font-family: 'oswaldbold';
  src: url('fonts/oswald-bold-webfont.eot');
  src: url('fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-bold-webfont.woff') format('woff'),
       url('fonts/oswald-bold-webfont.ttf') format('truetype'),
       url('fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url('fonts/oswald-light-webfont.eot');
  src: url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-light-webfont.woff') format('woff'),
       url('fonts/oswald-light-webfont.ttf') format('truetype'),
       url('fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldregular';
  src: url('fonts/oswald-regular-webfont.eot');
  src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-regular-webfont.woff') format('woff'),
       url('fonts/oswald-regular-webfont.ttf') format('truetype'),
       url('fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Istok Web*/

@font-face {
  font-family: 'istok_webbold';
  src: url('fonts/istokweb-bold-webfont.eot');
  src: url('fonts/istokweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/istokweb-bold-webfont.woff') format('woff'),
       url('fonts/istokweb-bold-webfont.ttf') format('truetype'),
       url('fonts/istokweb-bold-webfont.svg#istok_webbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'istok_webbolditalic';
  src: url('fonts/istokweb-bolditalic-webfont.eot');
  src: url('fonts/istokweb-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/istokweb-bolditalic-webfont.woff') format('woff'),
       url('fonts/istokweb-bolditalic-webfont.ttf') format('truetype'),
       url('fonts/istokweb-bolditalic-webfont.svg#istok_webbolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'istok_webitalic';
  src: url('fonts/istokweb-italic-webfont.eot');
  src: url('fonts/istokweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/istokweb-italic-webfont.woff') format('woff'),
       url('fonts/istokweb-italic-webfont.ttf') format('truetype'),
       url('fonts/istokweb-italic-webfont.svg#istok_webitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'istok_webregular';
  src: url('fonts/istokweb-regular-webfont.eot');
  src: url('fonts/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/istokweb-regular-webfont.woff') format('woff'),
       url('fonts/istokweb-regular-webfont.ttf') format('truetype'),
       url('fonts/istokweb-regular-webfont.svg#istok_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}