.sc-menu {
  margin-bottom: 2px;
  font-family: 'oswaldlight';
  height: 66px;
  color: #606060;
  font-weight: normal;
  font-size: 15px;
  .box-shadow(0px 2px 1px rgba(0,0,0,0.2));
  #gradient > .vertical(#dde8ea, #d9e4e6);

  img {
    position: absolute;
  }

  .sc-menu-group {
    float: left;
  }

  .sc-menu-heading {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 140px;
    height: 66px;
    line-height: 66px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);

    &.arrow-down {
      .backgroundImage('arrow-greydown.png', no-repeat, 95%);
    }

    &.support {
      #gradient > .vertical(#d9e5e7, #cbd7d9);
    }

    &.hover {
      padding-bottom: 2px;
      #gradient > .vertical(#ffffff, #fdfdfd);
      .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
    }
  }

  .sc-menu-body {
    display: none;
    position: absolute;
    z-index: 4000;
    .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
    #gradient > .vertical(#fefefe, #f5f5f5);

    div {
      vertical-align: middle;
      text-align: center;
      border-bottom: 1px solid #E4E4E4;
      cursor: pointer;
      width: 140px;
      height: 41px;
      line-height: 41px;

      &:hover {
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
      }
    }
  }
}