//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  font-family: 'istok_webregular';
  min-width: 720px;
  height: 60px;
  padding: 0;
  margin-bottom: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border: 1px solid #BABABA;
  .border-radius(2px);
  color: #606060;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  #gradient > .vertical(#FFFFFF, #ECECEC);
  .backgroundImage('icon_lamp.png', no-repeat, 5%);
  .box-shadow(0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff);
}
.alert h4 {
  margin: 0;
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: 21px;
  line-height: 60px;
}


// Alternate styles
// -------------------------

.alert-success {
  font-family: 'istok_webregular';
  background-color: @successBackground;
  border-color: @successBorder;
  color: @successText;
}
.alert-danger,
.alert-error {
  font-family: 'istok_webregular';
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @errorText;
}
.alert-info {
  font-family: 'istok_webregular';
  background-color: @infoBackground;
  border-color: @infoBorder;
  color: @infoText;
}


// Block alerts
// -------------------------

.alert-block {
  font-family: 'istok_webregular';
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

// Modal alert
// -------------------------

.alert-modal {
  font-family: 'istok_webregular';
  min-width: 720px;
  height: 60px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  .border-radius(2px);
  color: #606060;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #ECEFEF;
}