.sc-pagination {
  line-height: 50px;
  height: 50px;
  color: #606060;
  font-weight: normal;
  font-size: 12px;
  font-family: 'istok_webregular';
  .box-shadow(0px 2px 1px rgba(0,0,0,0.2));
  #gradient > .vertical(#dde8ea, #dde8ea);

  div:first-child {
    margin-left: 25px;
    float: left;
  }

  .select2-dropdown {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
  }

  img {
    position: absolute;
  }

  &.white {
    #gradient > .vertical(#FBFBFB, #F1F1F1);
  }
}
