.sc-switch {
  width: 70px;
  height: 32px;
  border: 1px solid #C9C9C9;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  font-family: 'istok_webbold';

  .switch {
    float: left;
    clear: both;
    height: 32px;
    overflow: hidden;

    div {
      float: left;
      text-align: center;
      white-space: nowrap;
      text-wrap: none;
      line-height: 32px;
      #gradient > .vertical(#F1F1F1, #E2E2E2);
      padding-left: 8px;
      padding-right: 8px;
      font-weight: bold;
      height: 32px;
      color: #9C9C9C;
    }

    div:first-of-type {
      float: left;
      color: #01B6E8;
    }

    div:nth-child(2) {
      float: left;
      #gradient > .vertical(#FFFFFF, #ECECEC);
    }
  }
}