/*
Version: 3.2 Timestamp: Mon Sep 10 10:38:04 PDT 2012
*/

.select2-container {
    position: relative;
    /*display: inline-block;*/
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
    font-family: 'istok_webregular';
    font-size: 12px;
}

.select2-container {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  .border-radius(2px);
  border: 1px solid #D2D2D2;
  #gradient > .vertical(#ffffff, #f8f8f8);
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}

.select2-drop,
.select2-search,
.select2-search input {
  font-family: 'istok_webregular';
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(255,255,255,.75);
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}

.select2-container .select2-choice {
    font-family: 'istok_webregular';
    text-shadow: 0 -1px 0 rgba(255,255,255,.75);
    font-size: 12px;
    .border-radius(2px);
    .buttonBackground(#FFFFFF, #F1F1F1, #6A6A6A);
    .box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 32px;
    line-height: 34px;
    padding: 0 0 0 8px;
    color: #606060;
    text-decoration: none;
}

.select2-container.select2-drop-above .select2-choice {
    font-family: 'istok_webregular';
    border-bottom-color: #aaa;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    border-radius:0px 0px 4px 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 90%);
}

.select2-container .select2-choice span {
  text-shadow: 0 -1px 0 rgba(255,255,255,.75);
  font-family: 'istok_webregular';
  text-align: left;
  margin-right: 40px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.select2-container .select2-choice abbr {
  font-family: 'istok_webregular';
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  .backgroundImage('arrow-greydown.png', no-repeat, right top);
  cursor: pointer;
  text-decoration: none;
  border:0;
  outline: 0;
}
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop {
    font-family: 'istok_webregular';
    #gradient > .vertical(#ffffff, #f8f8f8);
    color: #606060;
    border: 1px solid #bbb;
    border-top: 0;
    position: absolute;
    top: 100%;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  z-index: 9999;
    width:100%;
    margin-top: 0px;

  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.select2-drop.select2-drop-above {
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    margin-top:1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
    border-left: 1px solid #bbb;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 32px;
}

.select2-container .select2-choice div b {
    .backgroundImage('arrow-greydown.png', no-repeat, 50% 50%);
    display: block;
    width: 100%;
    height: 100%;
}

.select2-search {
  font-family: 'istok_webregular';
  display: inline-block;
    white-space: nowrap;
    z-index: 10000;
  min-height: 34px;
  width: 100%;
  margin: 0;
  padding: 4px;
}

.select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}

.select2-search input {
    font-family: 'istok_webregular';
    .backgroundImage('arrow-greydown.png', no-repeat, 100% -22px);
    background: transparent;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
    width:100%;
    margin:0;
    height:auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.select2-drop.select2-drop-above .select2-search input {
    font-family: 'istok_webregular';
    margin-top:4px;
}

.select2-search input.select2-active {
    .backgroundImage('spinner.gif', no-repeat, 100%);
    background: #fff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}


.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  border: 0px solid #5897fb;
    outline: none;
}

.select2-dropdown-open .select2-choice {

}

.select2-dropdown-open .select2-choice div {

}
.select2-dropdown-open .select2-choice div b {

}

/* results */
.select2-results {
  font-family: 'istok_webregular';
  #gradient > .vertical(#ffffff, #f8f8f8);
  margin: 0px 0px 0px 0;
  padding: 0 0 0 0px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}

.select2-results ul.select2-result-sub {
  margin: 0 0 0 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
  list-style: none;
  display: list-item;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  text-shadow: 0 -1px 0 rgba(255,255,255,.75);
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #E4E4E4;
  line-height: 30px;
  height: 26px;
  padding: 3px 7px 4px 10px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
}

.select2-results .select2-highlighted {
  color: #606060;
  background-color: #E6E6E6;
  #gradient > .vertical(#E6E6E6, #E6E6E6);
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for already selected choices in the results dropdown
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
*/
.select2-results .select2-disabled {
    display: none;
}

.select2-more-results.select2-active {
    .backgroundImage('spinner.gif', no-repeat,100%);
    background: #f4f4f4;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #F1F1F1;
    background-image: none;
    border: 0px solid #ddd;
    opacity: 0.5;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}


/* multiselect */

.select2-container-multi .select2-choices {
      font-family: 'istok_webregular';
      background-color: #fff;
      border: 0px solid #D2D2D2;
      margin: 0;
      padding-top: 2px;
      padding-bottom: 3px;
      cursor: text;
      overflow: hidden;
      height: auto !important;
      height: 1%;
      position: relative;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3), inset 0 1px 0 1px #fff;
  border: 0px solid #D2D2D2;
    outline: none;
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color: #666;
  background: transparent !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    .backgroundImage('spinner.gif', no-repeat, 100%) !important;
    background: #fff !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  font-size: 12px;
  -webkit-border-radius: 0px;
  -moz-border-radius   : 0px;
  border-radius        : 0px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #cbcbcb;
  color: #fff;
  border: 0px solid #aaaaaa;
  color: #fff;
  line-height: 17px;
  padding: 2px 20px 2px 10px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  .backgroundImage('chosen-sprite.png', no-repeat, right top);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */

.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match { text-decoration: underline; }
.select2-result-unselectable .select2-match { text-decoration: none; }

.select2-offscreen { position: absolute; left: -10000px; }

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
      .backgroundImage('select2x2.png', no-repeat, 60px 40px) !important;
	}
	.select2-search input {
		background-position: 100% -21px !important;
	}
}
