.sc-simplegrid {
  position: relative;
  font-weight: normal !important;
  font-size: 12px;
  font-family: 'istok_webregular';

  .ko-grid {
    width: 100%;

    thead {
      tr {
        th {
          text-shadow: 0 1px 0 rgba(255,255,255,.50);
          font-weight: normal;
          border: 0px none;
          width: 140px;
          height: 50px;
          color: #00CBE4;
          .box-shadow(0px 2px 1px rgba(0,0,0,0.2));
          #gradient > .vertical(#dde8ea, #d9e4e6);

          &.left {
            text-align: left;
            text-indent: 24px;
            background-position: 24px 50% !important;
          }
          &.right {
            text-align: right;
          }
          &.center {
            text-indent: 0px !important;
            background-position: 42.5% 50% !important;
          }
          &.sort-alpha-beta, &.sort-numeric {
            cursor: pointer;
            .backgroundImage('arrow-blue-down.png', no-repeat, 44.5% 50%);
            text-indent: 36px;
          }
        }
      }
    }

    tbody {
      background-color: #FFFFFF;
      color: #606060;

      tr {
        cursor: pointer;
        border-bottom: 1px solid #E5E5E5;
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0));

        -webkit-transition: background 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out;
        -ms-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
        transition: background 0.5s ease-in-out;

        -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
        -moz-transition: -moz-box-shadow 0.5s ease-in-out;
        -ms-transition: -ms-box-shadow 0.5s ease-in-out;
        -o-transition: -o-box-shadow 0.5s ease-in-out;
        transition: box-shadow 0.5s ease-in-out;

        &:hover {
          #gradient > .vertical(#ffffff, #f8f8f8);
          .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));
          z-index: 100;
        }

        td {
          width: 140px;
          height: 50px;
          text-align: center;

          &.left {
            text-align: left;
            text-indent: 24px;
          }
          &.right {
            text-align: right;
          }
        }

        td:first-child {

          .btn-edit {
            display: none;
            margin-left: 8px;
          }

          .btn-view-app {
            display: none;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .edit {
    text-indent: 0px;
    position: absolute;
    z-index: 1000;
    font-weight: normal;
    font-size: 12px;
    font-family: 'istok_webregular';
    width: 170px;
    height: 135px;
    background-color: #FFFFFF;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .border-radius(0px);
    .box-shadow(0 10px 20px rgba(0,0,0,0.25), inset 0 0 3px #fff);

    .popup-arrow {
      position: absolute;
      left: -17px;
      top: 5px;
    }

    .edit-header {
      width: 150px;
      height: 40px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;

      .btn {
        position: relative;
        left: -23px;
        line-height: 19px;
        min-width: 80px;
        height: 26px;
      }

      .btn-thumb {
        left: 0px;
        padding: 0;
        min-width: 26px;
        height: 26px;
      }

      button:first-child {
        float: left;
      }

      button:last-child {
        float: right;
      }
    }

    .edit-body {
      width: 170px;
      height: 94px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background-color: #F8F8F8;
      float: left;

      div {
        width: 150px;
        height: 31px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        padding-left: 10px;
        padding-right: 10px;

        span {
          line-height: 31px;
        }

        span:first-child {
          float: left;
          width: 70px;
          text-align: left;
        }

        span:first-child + span {
          color: #00CBE4;
        }

        button {
          float: right;
        }
      }

      div:first-child {
        margin-top: 3px;
      }
    }
  }
}